# Node modules and package managers
node_modules/
bower_components/

# Build output directories
build/
dist/

# Logs and debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# Operating system files
.DS_Store
Thumbs.db

# IDE and Editor folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
doc_changes_report_*.txt

#mkdocs deployment
site/deployment/