@tailwind base;
@tailwind components;
@tailwind utilities;

/* Only keep font smoothing if you want */
@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
