@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
@layer base {
  html {
    @apply antialiased transition-colors duration-300 ease-in-out;
  }

  body {
    @apply font-outfit bg-background text-foreground min-h-screen m-0;
  }

  /* Typography */
  h1 {
    @apply text-4xl font-bold md:text-5xl lg:text-6xl;
  }

  h2 {
    @apply text-3xl font-bold md:text-4xl;
  }

  h3 {
    @apply text-2xl font-bold md:text-3xl;
  }

  a {
    @apply text-primary hover:text-secondary transition-colors duration-200;
  }
}
