  deploy_docs:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install MkDocs and Dependencies
        run: |
          pip install mkdocs mkdocs-material
      - name: Build and Deploy MkDocs Site
        run: mkdocs gh-deploy --force
